<div class="home-section form-section">
	<h2 class='section-title text-uppercase margin-top-0'>CONTACT US</h2>
	<form class="form-validate" novalidate name="vm.ContactUsForm">
		<div class="form-row">
			<div class="left-col">
				<div class="form-control">
					<input id="name" type="text" placeholder="Name:" name="name" ng-model="name" ng-required="true" />
					<i class="fa fa-user"></i>
					<label class="error" ng-show="vm.ContactUsForm.name.$error.required && !vm.ContactUsForm.name.$pristine">Please enter your name</label>
				</div>
				<div class="form-control">
					<input type="email" placeholder="Email:" name="email" ng-model="email" ng-required="true" />
					<i class="fa fa-envelope"></i>
					<label class="error" ng-show="vm.ContactUsForm.email.$error.required && !vm.ContactUsForm.email.$pristine">Please enter your email</label>
					<label class="error" ng-show="vm.ContactUsForm.email.$error.email && !vm.ContactUsForm.email.$pristine">Please enter a valid email</label>
				</div>
				<div class="form-control">
					<input type="tel" placeholder="phone:" name="phone" ng-model="phone" ng-required="true" ng-pattern="/^\d+$/" 
					 maxlength="12"/>
					<i class="fa fa-phone-square"></i>
					<label class="error" ng-show="vm.ContactUsForm.phone.$error.required && !vm.ContactUsForm.phone.$pristine">Please enter your phone Number</label>
					<label class="error" ng-show="vm.ContactUsForm.phone.$error.pattern || vm.ContactUsForm.phone.$error.maxlength &&  !vm.ContactUsForm.phone.$pristine">Please enter a valid phone Number(Only Numbers are allowed)</label>
				</div>
			</div>
			<div class="right-col ">
				<div class="form-control full-height">
					<textarea placeholder="Comment:" name="comment" ng-model="comment"></textarea> <i class="fa fa-comments"></i>
				</div>
			</div>
		</div>
		<div class="form-control text-center">
			<button type="submit" class="blue-form-btn" ng-disabled="vm.ContactUsForm.$invalid" ng-click="vm.ContactUs()">Send</button>
		</div>
	</form>
</div>
  