.driving-back {
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.driving-force-wrapper {
    .textWrapper {
        background: $white;
        padding: 20px 30px 40px;
    }

    .img-container {
        margin-bottom: 60px;

        &:before, &:after {
            #{$left}: auto !important;
            #{$right}: -20px;
        }

        &:after {
            #{$right}: -1px !important;
            bottom: -70px;
        }
    }
}