.excellence-figure {
    margin: 0;

    &:after {
        bottom: auto !important;
        top: -40px;
        #{$left}: 25px;
    }

    &:before {
        bottom: auto !important;
        top: -30px;
        #{$left}: 15px;
        border-top-width: 155px !important;
        border-left-width: 90px !important;
        border-right-width: 90px !important;
    }

    @media (max-width: 1500px) {
        &:after, &:before {
            transition: all 0.15s ease-in-out;
            margin-top: -20px;
            transform: scale(0.8);
        }
    }

    @media (max-width: $screen-md-max) {
        position: relative;
        margin-bottom: 0 !important;

        &:after, &:before {
            margin-top: -30px;
        }
    }

    @media (max-width: $screen-sm-max) {
        &:after, &:before {
            content: none !important;
        }
    }
}

.excellence-wrapper {
    margin-top: -180px;
    position: relative;

    .textWrapper {
        padding-#{$left}: 0px;
    }

    @media (max-width: $screen-md-max + 200) {
        margin-top: -130px;
    }

    @media (max-width: $screen-md-max) {
        margin-top: -120px;
    }

    .section-title, .section-subtitle {
        color: $white;
        margin: 0;
        max-width: 550px;

        @media (max-width: $screen-xs-max) {
            color: $acqa;
            max-width: none;
            margin: 20px 0;
        }
    }

    @media (max-width: $screen-md-max + 200) and (min-width: $screen-sm-min) {
        .section-subtitle {
            color: $acqa;
            margin-top: 40px;
        }
    }
}