@font-face {
    font-family: "HelveticaNeueLTStd-Light";

    /* IE9 Compat Modes */
    src: url("../assets/fonts/HelveticaNeueLTStd-Lt_0/HelveticaNeueLTStd-Lt_0.woff") format("woff"), url("../assets/fonts/HelveticaNeueLTStd-Lt_0/HelveticaNeueLTStd-Lt_0.ttf") format("truetype");

    /* Legacy iOS */
}

@font-face {
    font-family: "HelveticaNeueLTStd-Medium";

    /* IE9 Compat Modes */
    src: url("../assets/fonts/HelveticaNeueLTStd-Md_0/HelveticaNeueLTStd-Md_0.woff") format("woff"), url("../assets/fonts/HelveticaNeueLTStd-Md_0/HelveticaNeueLTStd-Md_0.ttf") format("truetype");

    /* Legacy iOS */
}

@font-face {
    font-family: "HelveticaNeueLTPro-Roman";

    /* IE9 Compat Modes */
    src: url("../assets/fonts/HelveticaNeueLTPro-Roman_1/HelveticaNeueLTPro-Roman_1.woff") format("woff"), url("../assets/fonts/HelveticaNeueLTPro-Roman_1/HelveticaNeueLTPro-Roman_1.ttf") format("truetype");

    /* Legacy iOS */
}