$white: #ffffff;
$acqa: #0aa4e5;
$black: #333333;
$gray: #cccccc;
$royalblue: #1b2c5d;
$lightgray: #585858;
$darkgray: #414142;
$blue: #00599c;
$lime: #79d1ec;
$lightblue: #00a0e4;
$fb: #00599c;
$insta: #da066a;
$twitter: #00a0e4;

$font-helvatica-light: "HelveticaNeueLTStd-Light";
$font-helvatica-medium: "HelveticaNeueLTStd-Medium";
$font-helvatica-roman: "HelveticaNeueLTPro-Roman";

$font-8: 0.5rem;
$font-10: 0.625rem;
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-24: 1.5rem;
$font-26: 1.675rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
$font-44: 2.5rem;
$font-48: 3rem;
$font-52: 3.25rem;

$left: left;
$right: right;

$screen-xs-min: 480px;
$screen-xs-max: 767px;

$screen-sm-min: 768px;
$screen-sm-max: 991px;

$screen-md-min: 992px;
$screen-md-max: 1199px;

$screen-lg-min: 1200px;