<section ng-include="'app/includes/home/top-slider.html'" class="home-slider-wrapper" id="home-slider-wrapper"></section>

<section ng-include="'app/includes/home/chairman-word.html'" class="chairman-word-back  pattern-back" id="chairman-word-wrapper"></section>



<section  id="potential-wrapper">
	<figure>
		<img class="img-responsive pattern" src="assets/images/home/pattern1.png" />
	</figure>
	<div ng-include="'app/includes/home/potential.html'" class="potential-back  pattern-back"></div>
</section>

<section id="innovation-wrapper">
	<figure>
		<img class="img-responsive pattern" src="assets/images/home/pattern2.png" />
	</figure>
	<div ng-include="'app/includes/home/innovation.html'" class="innovation-back pattern-back"></div>
</section>



<section id="excellence-wrapper">
	<figure class="excellence-figure triangle-bottom-lime-after triangle-bottom-white-before">
		<img class="img-responsive pattern" src="assets/images/home/pattern3.png" />
	</figure>
	<div ng-include="'app/includes/home/excellence.html'" class="excellence-back pattern-back"></div>
</section>



<section id="triumph-wrapper">
<figure>
	<img class="img-responsive pattern" src="assets/images/home/pattern4.png" />
</figure>
	<div  ng-include="'app/includes/home/triumph.html'" class="triumph-back pattern-back"></div>
</section>


<section class="driving-back"  style="background-image:url('assets/images/home/driving-back.png');" id="driving-force-wrapper">
	<div ng-include="'app/includes/home/driving-force.html'" class="driving-force-back  pattern-back" ></div>
</section>

<section ng-include="'app/includes/home/horizon.html'" class="horizon-back pattern-back" id="horizon-wrapper"></section>

<section id="contactus-wrapper">
	<figure>
		<img class="img-responsive pattern" src="assets/images/home/pattern5.png" />
	</figure>
	<div ng-include="'app/includes/home/contactus.html'" class="container"></div>
</section>

<section ng-include="'app/includes/home/contact-info.html'" class="container" id="contactinfo-wrapper"></section>