<section ng-include="'app/includes/home/top-slider.html'" class="home-slider-wrapper" id="home-slider-wrapper"></section>

<section ng-include="'app/includes/home/chairman-word.html'" class="chairman-word-back  pattern-back" id="chairman-word-wrapper"></section>

<figure>
	<img class="img-responsive pattern" src="../assets/images/home/pattern1.png" />
</figure>

<section ng-include="'app/includes/home/potential.html'" class="potential-back  pattern-back" id="potential-wrapper"></section>

<figure>
	<img class="img-responsive pattern" src="../assets/images/home/pattern2.png" />
</figure>

<section ng-include="'app/includes/home/innovation.html'" class="innovation-back pattern-back" id="innovation-wrapper"></section>

<figure class="excellence-figure triangle-bottom-lime-after triangle-bottom-white-before">
	<img class="img-responsive pattern" src="../assets/images/home/pattern3.png" />
</figure>

<section ng-include="'app/includes/home/excellence.html'" class="excellence-back pattern-back" id="excellence-wrapper"></section>

<figure>
	<img class="img-responsive pattern" src="../assets/images/home/pattern4.png" />
</figure>

<section ng-include="'app/includes/home/triumph.html'" class="triumph-back pattern-back" id="triumph-wrapper"></section>


<div class="driving-back"  style="background-image:url('../assets/images/home/driving-back.png');" id="driving-force-wrapper">
	<section ng-include="'app/includes/home/driving-force.html'" class="driving-force-back  pattern-back" ></section>
</div>

<section ng-include="'app/includes/home/horizon.html'" class="horizon-back pattern-back" id="horizon-wrapper"></section>

<figure>
	<img class="img-responsive pattern" src="../assets/images/home/pattern5.png" />
</figure>

<section ng-include="'app/includes/home/contactus.html'" class="container " id="contactus-wrapper"></section>

<section ng-include="'app/includes/home/contact-info.html'" class="container" id="contactinfo-wrapper"></section>